/* Selectors */
  
  html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    line-height: 1;
    font-family: sans-serif;
    padding: 20px;
  }

  h1{
    margin:10px;
  }
  
  button{
    background-color: rgb(168, 104, 241);
  }


  /* Classes */

  /* Styles Rules For Buttons */
  .view-hihgscores, .start-button{
    background-color: rgb(168, 104, 241); 
  }

  /* Styles Rules For Main Header */
  .scores-header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding:10px;
    margin:20px;
  }
  
  /* Styles Rules For Main Content */
  .main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:5px;
  }

  /* Styles Rules For Start Section */
  .start-section{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    margin:20px;
  }

  /* Styles Rules For Quiz Section */
  .quiz-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;
    margin:20px 50px 20px 50px;
  }
 
   /* Styles Rules For Answers Section */
  .answers-section{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin:20px;
  }

   /* Styles Rules For Start Button */
  .start-button{
    margin:10px; 
  }
