/* Selectors */
/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    line-height: 1;
    font-family: sans-serif;
    padding: 20px;
  }

  h1{
    margin:10px;
  }
  
  button{
    background-color: rgb(168, 104, 241);
  }


  /* Classes */

  .view-hihgscores, .start-button{
    background-color: rgb(168, 104, 241); 
  }

  .scores-header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding:10px;
    margin:20px;
  }
  
  .main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .start-section{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    margin:20px;
  }

  .quiz-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;
    margin:20px 50px 20px 50px;
  }

  .questions-heading{
  }

  .answers-section{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin:20px;
  }

  .start-button{
    margin:10px; 
  }
